/* general theme settings*/

.header {
  text-align: center;
  font-size: 5vw;
}

.theme-borders {
  line-height: 2.5ch;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: white;
  padding: 5px;
  color: white;
  text-align: justify;
}
